@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.main-ul {
  margin-top: -5px;
}

.main-list {
  font-family: 'Lato';
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  width: 100px;
}

*::placeholder {
  color: white;
}

/* Ne fonctionne pas */
#searchbar {
  padding-right: 30px;
}

.bi-search {
  position: relative;
  right: 25px;
  font-size: 1.2rem;
  z-index: 1000;
  display: grid;
  place-items: center;
}

.w-33 {
  width: 33%;
}
