@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.bg-success,
.btn-success {
  background-color: #68d9a4 !important;
  border-color: #68d9a4 !important;
}
.bg-danger,
.btn-danger {
  background-color: #ed6454 !important;
  border-color: #ed6454 !important;
}

.main-ul {
  margin-top: -5px;
}

.main-list {
  font-family: 'Lato';
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  width: 100px;
}

*::placeholder {
  color: white;
}

/* Ne fonctionne pas */
#searchbar {
  padding-right: 30px;
}

.bi-search {
  position: relative;
  right: 25px;
  font-size: 1.2rem;
  z-index: 1000;
  display: grid;
  place-items: center;
}

.w-33 {
  width: 33%;
}

.relative-pos {
  position: relative;
}

.advanced-filters {
  position: absolute;
  z-index: -3;
  width: 40rem;
}

.bi-x-circle {
  cursor: pointer;
}

.active-filter {
  opacity: 1 !important;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
  z-index: 3;
}
